@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
}

body{
    background: rgb(215, 235, 215);
}

.wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    display:flex;
    box-shadow: 0 1px 20px 0;
    border-radius:5px;
}

.wrapper .left{
    width: 35%;
    background: linear-gradient(to right, green, rgb(10, 168, 10));
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color:white;
}

.wrapper .left img{
    margin-bottom:  10px;
   border-radius: 5px;
}

.wrapper .left h4{
margin-bottom: 10px;
}

.wrapper .left p{
font-size: 12px;
    }

    .wrapper .right{
width: 65%;
background: white;
padding: 30px 25px;
    }

.wrapper .right .info, 
.wrapper .right .description {
margin-bottom: 25px;
}

.wrapper .right .info h3, 
.wrapper .right .description h3 {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 3px solid green;
text-transform: uppercase;
letter-spacing: 5px;
}

.btn{
    display:flex !important;
    width: 100% !important;
}

.btn button {

    outline: 0 !important;
    border: 0 !important;
    background: none !important;
    border: 1px solid #d9d9d9 !important;
    padding: 8px 0px !important;
    color: #515151 !important;
    text-transform: uppercase !important;
    width: 125px !important;
    font-family: inherit !important;
    transition: all 0.3s ease !important;
    font-weight: 500 !important;
    margin-left: 70% !important;
    
}

.btn button:hover {
      
    background: darken(white, 2%) !important;
    border: 1px solid #aedaa6 !important;
    color: green !important;
    cursor: pointer !important;
  }


 button {
    height: 25px;
    width: 150px;
    display: inline-flex;
    justify-content: end;
    padding: 10px 15px;
    column-gap: 5px;
    color: #3a3d52;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .25s;
    align-items: center;
    box-shadow:0 0 5px rgb(0,0,.25s);
    border: 2px solid #eee;
    font-size: 17px;
    margin-left: 50%;
    
}

button:hover{
    background-color: #e6e6e6;
}

@keyframes ribbon {
    0%{
        transform: scaleY(.1);
    }
    25%{
        transform: scaleY(.1);
    }
    100%{
        color: green;
    }
}

button:focus i {
    animation: ribbon .25s cubic-bezier(.77 , 0 , 0.17, 1) forwards;
}


