@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800;900&display=swap');
.light {
    --mainColor: green;
    --hoverColor: rgb(5, 56, 5);
    --backgroundColor: rgb(224, 243, 224);
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}
#error_in{
    color:red;
}

.dark{
    --mainColor: green;
    --hoverColor: darkgreen;
    --backgroundColor: #192e3a;
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
}
*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body, input {
    font-family: 'Poppins', sans-serif;
}

.img{
    width: 100%;
}

a{
    text-decoration: none !important;
}

.big-wrapper{
padding: 1.7rem 0 2rem;
width:100%;
min-height: 100vh;
overflow:hidden;
background-color:var(--backgroundColor);
display:flex;
flex-direction: column;
}

.container{
position: relative;
max-width: 81rem;
width: 100%;
margin: 0 auto;
padding: 0 3rem;
z-index: 10;
}

header .container{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    cursor: pointer;
}

.logo img{
    width: 300px;
}
a{
    text-decoration:none;
}

.links ul{
    display:flex;
    list-style:none !important;
    align-items:center;
}

.links a{
    color: var(--lightTwo);
    margin-left: 4.5rem;
    display: inline-block;
transition: .3s;
}

.links a:hover{
color: var(--hoverColor);
transform: scale(1.05);
}
.btn{
    display: inline-block;
padding: .9rem 1.9rem;
color:white !important;
background-color: var(--mainColor) !important;
border-radius: 16px;
text-transform: capitalize;
transition: .3s;
}

.btn:hover{
    background-color: var(--hoverColor);
    transform: scale(1) !important;
    
}

.showcase .container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

}
.title{
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

.text{
    color: var(--lightOne);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
}

.showcase .btn{
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person{
    width: 123%;
    transform: translate(15%, 25px);

}

.toggle{
    display: inline-block;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width:39px;
    border-radius: 50%;
    font-size: 1.1rem;
transition: 0.3s;

}

.toggle i{
    line-height: 39px;
}

.big-wrapper.light .toggle i:last-child{
    display:none;
}

.big-wrapper.light .toggle i:first-child{
    display:block;
}

.big-wrapper.dark .toggle i:last-child{
    display:block;
}

.big-wrapper.dark .toggle i:first-child{
    display:none;
}

.toggle:hover{
    background: var(--mainColor);
}


.copy{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    animation: appear 1s 1 both;
}

.stop-scroll{
    height: 100%;
    overflow: hidden;
}

@keyframes appear{
    0%{
        clip-path:circle(30% at -25% -25%);
    }

    100%{
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 870px){
    .showcase .container{
        grid-template-columns: 1fr;

    }

    .person{
        width: 100%;
        transform: none;

    }
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container2 {
  position: relative;
}

 .row {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .featured-block {
    text-align: center;
    transition: all 0.5s ease;
    min-height: 256px;
    padding: 15px;
  }

  #features{
    background-color: var(--backgroundColor);
  }

  #title{
    color: var(--darkOne);
  }

  .featured-block-image {
    display: block;
    margin: auto;
    transition: all 0.5s;
  }

  .featured-block-text {
    color: var(--mainColor);
    font-size: var(--h5-font-size);
    margin-top: 20px;
    transition: all 0.5s;
    font-family: "Poppins";
  }

  .section-bg {
    background-color: var(--backgroundColor);
  }

  .custom-text-box-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-text-box {
    background: white;
    border-radius: 20px;
    margin-bottom: 24px;
    padding: 40px;
  }

  h2{
    color: var(--darkOne);
font-size: 46px;
  }

  h5{
    color: var(--mainColor);
    font-size:24px;
  }

  .info{
    color: var(--lightOne) !important;
  }

  .custom-list {
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .custom-list-item {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .custom-text-box-icon {
    background: #f0f8ff;
    border-radius: 100px;;
    color: #5a6f80;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 30px;
  }

  .counter-thumb {
    margin: 20px;
    margin-bottom: 0;
  }

  .counter-number,
.counter-text {
  color: #5a6f80;
  display: block;
}

.counter-number,
.counter-number-text {
  color: var(--mainColor);
  font-size: 52px;
  font-weight: 700;
  line-height: normal;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

#volunteer{
display:flex;
align-items: center;
justify-content: center;
}


#signin{
display:flex;
align-items: center;
justify-content: center;
}

.box{
    position:relative;
    width: 100%;
    border-radius: 3.3rem;
    max-width: 1020px;
    height: 540px;
    background-color: white;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    margin-bottom: 50px;
}

.inner-box{
position: absolute;
width: calc(100% - 4.1rem);
height:calc(100% - 4.1rem);
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
top: 0;
left: 0;

}

.forms-wrap2{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top:0;

}

.design2{
    position: absolute;
    height: 100%;
    width: 45%;
top: 0;
left: 0;
background-color: rgb(129, 233, 129);
border-radius: 50%;
background-image: url("../assets/img/pass.svg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.design{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top:0;
    background-image: url("../assets/img/happy.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;

}

form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo2 img{
width: 200px;
margin: 0.3rem;
}

.heading h2{
    font-size:2.1rem;
    font-weight: 600 !important;
    color: var(--darkOne);
}

.heading h6{
    color: var(--lightOne);
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.btn-toggle{
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight:  800px !important;
    transition: 0.3s;
}

.btn-toggle:hover{
color: var(--mainColor);
}

.input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline:none;
    border-bottom: 1px solid #bbb;
    padding:0;
    font-size:0.95rem;
    color:#151111;

}

label{
    pointer-events:none;
font-size:0.95rem;
color: #bbb;
    position: absolute;
    left: 0;top: 50%;
    transform: translateY(-50%);
}
.signUp-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--mainColor);
    color:white;
    border:none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s
}

.signUp-btn:hover{
    background-color: var(--hoverColor);
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--mainColor);
    color:white;
    border:none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s
}

.sign-btn:hover{
    background-color: var(--hoverColor);
}

select{
    outline:0;
    box-shadow: none;
    border: 0!important;
    background: lightgreen;
}